body{
	background-color: #D1D0D0;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

h1{
	text-align: center;
	color: #00090C;
	font-size: 50px;
	font-family: 'Roboto Condensed', sans-serif;
}

img{
	width: 100;
	border-radius: 4px;
}

div{
	border: 2px;
	border-color: red;
}

li{
	text-align: left;
}

a{
	border-radius: 4px;
 	background-color: #5C3E49;
 	border: none;
 	color: white;
 	text-align: center;
 	font-size: 28px;
 	padding: 20px;
 	width: 200px;
 	transition: all 0.5s;
 	cursor: pointer;
 	margin: 5px;
}

.titre{
	margin: 60px 0;
}


.block{
	background-color: rgba(0,0,0,0.1);
	width: 300px;
	height: 340px;
	height: ;
	border-radius: 4px;
	color: white;
	box-shadow: 5px 5px 5px grey;
}

.all	{
	text-align: center;
}

.block  h1 {
	margin: 40px 0;
}

.block h2	{
	margin: 40px 0;
}

.block p	{
	margin: 40px 30px;
}

.banner{
	text-align: center;
	display:flex;
	justify-content: space-around;
	padding:100px;
}

.texte{
	padding:100px;
	margin: 40px 30px;
	box-shadow: 5px 5px 5px 5px grey;
}

.content{
	text-align: left;
	margin-left: 40;
}

#image{
	text-align: center;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	display: flex;
}

#button {
	margin: 40px 0;
}

#button a:hover {
	color: blue;
}

@media (max-width: 1300px)
{
	.all{
		width: 1100px;
	}
}

@media (max-width: 1000px)
{
	.all{
		width: 800px;
	}
}

@media (max-width: 750px)
{
	.all{
		width: 500px;
	}
}

@media (max-width: 500px)
{
	.all{
		width: 400px;
	}
}